@font-face {
    font-family: poppins;
    src: url('/font/poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: poppins;
    src: url('/font/poppins/Poppins-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: poppins;
    src: url('/font/poppins/Poppins-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: poppins;
    src: url('/font/poppins/Poppins-Bold.ttf');
    font-weight: 700;
}
.font-poppins{
    font-family: poppins;
}