::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background-color: var(--white,white);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--gray,gray);
  border-radius: 8px;
}