.box-shadow {
    --box-x: 0;
    --box-y: 0;
    --box-b: 0;
    --box-s: 0;
    --box-c: transparent;
    box-shadow: var(--box-x) var(--box-y) var(--box-b) var(--box-s) var(--box-c);
    &-inset{
        box-shadow:inset var(--box-x) var(--box-y) var(--box-b) var(--box-s) var(--box-c);
    }
    @include resp {
        @for $var from $box-x-min to $box-x-max {
            &-x-#{"" + $var} {
                --box-x: #{ptr($var * 1px)};
            }
            &-y-#{"" + $var} {
                --box-y: #{ptr($var * 1px)};
            }
            &-b-#{"" + $var} {
                --box-b: #{ptr($var * 1px)};
            }
            &-s-#{"" + $var} {
                --box-s: #{ptr($var * 1px)};
            }
            &-c-#{"" + $var} {
                --box-c: #{ptr($var * 1px)};
            }
        }
    }
    @each $name, $value in $colors {
        &-#{"" + $name} {
            --box-c: var(--#{"" + $value});
        }
    }
}
